.edit-note-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ql-editor {
        font-family: 'Noto Sans Mono', monospace;
    }

    .ql-toolbar {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .ql-container {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}
